.nav-item {
    color: black;
}

.menu-post {
    display: flex;  
}

.icon-profile {
    max-width: 40px;
}

.Listings {
    margin-right: 100px;
}

.lista-educacion  {
    margin-top: 20px;   
}

aside div p:hover {
    color: blue;
  }

.crear-lista:hover {
    color: blue;
  } 

  aside div h3:hover {
    color: blue;
  }  

.boton-news {
    color: white; 
    background-color: blue; 
    border: none;
}

main ul .nav-post {
    margin-right: 40px;
}

.nav-link:hover {
    background-color: lightblue;
    color: blue;
    opacity: 50%;
    border-radius: 50px;
}


