$color-bgdnav: rgb(255,255,255);
$color-savebtn: rgb(211,214,219);
$color-background: rgb(239,240,241);
$color-bgdfooter: rgb(211,214,219);

$accent-brand: #3b49df;
$accent-brand-darker: #323ebe;
$accent-brand-lighter: #4150f5;
$accent-brand-a10: rgba(59,73, 233, 0.10);

/*Family Fonts en el HTML se insertaron lineas 6 y 7*/
$font-family: 'Roboto', sans-serif;
$font-family: 'Open Sans', sans-serif;
