//Footer y Nav****************
$color-button:#3b49df;
$color-button-hover:#323EBE;
$color-hover:#D2D6DB;
$color-footer:#D2D6DB;
$color-social:#64707D;
$color-social_hover: #4D5760;
$color-textlink:#3b49df;
$color-heart:#ECDADA;
$color-unicorn:#DAEEED;
$color-saved:#DCDFEF;
$color-points:#E6E8E8;
$color-nav-bottom:#EEF0F1;
//Fin Footer y Nav**********
//Aside
$color-bgdnav: rgb(255,255,255);
$color-savebtn: rgb(211,214,219);
$color-background: rgb(239,240,241);
$color-bgdfooter: rgb(211,214,219);

$accent-brand: #3b49df;
$accent-brand-darker: #323ebe;
$accent-brand-lighter: #4150f5;
$accent-brand-a10: rgba(59,73, 233, 0.10);

/*Family Fonts en el HTML se insertaron lineas 6 y 7*/
$font-family: 'Roboto', sans-serif;
$font-family: 'Open Sans', sans-serif;
//****FIN ASIDe
